* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Exo 2", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navigation {
  display: flex;
  height: 6vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  /* flex:5; */
  width: 80vw;
}
.navbar {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
}
.navbar.active {
  box-shadow: 0.1px 0.1px 5px black;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(
    60deg,
    rgba(31, 154, 133, 0.1),
    rgba(22, 21, 21, 0.5)
  );
}
.navbar.active .navigation__logo img {
  display: none;
}

.navbar.active .link {
  color: rgb(255, 255, 255);
}

.navigation__logo {
  display: flex;
  justify-content: space-evenly;
  height: 6vh;
  align-items: flex-end;
  margin-left: 60px;
  animation: 4.5s ease-in-out infinite alternate-reverse squareShadow 3s;
}
.navigation__logo img {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 90%;
  object-fit: cover;
  width: 100%;
}

.navigation-mobile {
  display: none;
}
.navigation-mobile ul {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navigation-mobile ul li {
  font-weight: 600;
  color: white;
  font-size: 48px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.navigation-mobile ul .mobileLink:hover {
transform: scale(1.1);
text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
padding: 0px 40px;
}
.burger {
  display: none;
  z-index: 400;
}
.link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  color: rgb(70, 43, 84);
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}
.link:hover {
  color: grey;
}
.link::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: black;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  border-radius: 2rem;
  transition: all ease-in-out 0.3s;
  transform: translateX(0);
}

.link:hover::after {
  width: 100%;
}
.navbar.active .link::after {
  background-color: rgb(20, 68, 8);
}

.burger span {
  width: 100%;
  height: 0.4rem;
  background-color: black;
  border-radius: 8.5rem;
  transition: all ease-in-out 0.3s;
}

.burger.active > span:nth-child(1) {
  transform: rotate(-45deg) translateY(0.9rem);
}

.burger.active > span:nth-child(2) {
  transform: rotate(45deg) translateY(-0.6rem);
}

.burger.active > span:nth-child(3) {
  transform: translateX(-200%);
}

/* CONTENT */

.home {
  height: calc(100vh - 6vh);
  width: 100%;
}
.home__content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
.home__content-static {
  margin-left: 80px;
  flex: 1;
  gap: 26px;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100%;

  flex-direction: column;
}
.home__content-static--top {
  justify-content: flex-end;
  display: flex;
}
.home__content-static--mid {
  justify-content: flex-end;
  display: flex;
}
.home__content-static--bottom {
  width: 100%;
  justify-content: center;
  display: flex;
}

.home__content-static-letter {
  font-weight: 600;
  font-size: 3.4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.home__content-static-letter.active {
  opacity: 1;
  color: black;
}
.separator {
  width: 20px;
  height: 20px;
}

.home__content-video {
  max-width: 60%;
  display: flex;
}
.home__content-video video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.layer {
  position: absolute;
  top: calc(0 - 6vh);
  height: calc(100vh - 6vh);
}
.layer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* fotography */

.digital {
  background: linear-gradient(135deg, #f8e5b4, #f0cbae);
  width: 100vw;
  height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.sectionTitle {
  font-weight: 600;
  color: rgb(16, 16, 16);
  font-size: 2rem;
  display: block;
  min-height: 10vh;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gallery {
  position: relative;
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );

  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 88vw;
  list-style-type: none;
  min-height: calc(100vh - 10vh);
  height: max-content;
  justify-content: space-evenly;
  padding: 58px 42px;
}

.thumbnail {
  border: solid 3px rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 10px;
  max-height: 250px;
  max-width: 300px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s;
  flex-shrink: 1;
}

.thumbnail img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.thumbnail:hover {
  transform: scale(1.2);
}
/* photograpgy */

.popup.hidden {
  display: none;
}

.popup {
  animation: fadeIn 0.4s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: flex;
}

.popup img {
  height: 80%;
  object-fit: contain;
  width: 100%;
}

.popup__close {
  position: fixed;
  cursor: pointer;
  top: 64px;
  right: 72px;
  font-size: 86px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

.photograpgy {
  background: linear-gradient(
    60deg,
    rgba(70, 26, 74, 0.784),
    rgba(22, 21, 21, 0.5)
  );
  width: 100vw;
  height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketches {
  background: linear-gradient(
    60deg,
    rgba(221, 181, 173, 0.784),
    rgba(22, 21, 21, 0.5)
  );
  width: 100vw;
  height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.others {
  background: linear-gradient(
    60deg,
    rgba(72, 76, 79, 0.784),
    rgba(22, 21, 21, 0.5)
  );
  width: 100vw;
  height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes squareShadow {
  from {
    transform: rotateZ(45deg);
  }

  to {
    transform: rotateY(15deg);
  }
}

/* MOBILE */

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none;
 
    
  }

  .navigation__logo {
    display: none;
  }

  .burger {
    height: 3.4rem;
    width: 3.4rem;
    margin: 1.2rem 0.9rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
  }

  .navigation-mobile.active {
    display: block;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #ff6b6b, #ffe66d);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    animation: fadeIn 0.45s;
  }
}

.about{
  background: linear-gradient(135deg, #f7f7f7, #f0f0f0);
min-height: 100vh;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.about-content{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  width: 88vw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
display: flex;
justify-content: space-evenly;
padding: 0px 40px;
gap:50px;
min-height: 60vh;
height: max-content;
border-radius: 8px;
}
.about-portrait{
 
display: flex;
justify-content: center;
align-items: center;


height:60vh;
}
.about-portrait img{
object-fit: cover;
border-bottom-left-radius: 70%;
border-bottom-right-radius: 30%;
border-top-right-radius: 40%;
border-top-left-radius: 60%;
height: 82%;

}
.about-description{
/* border: 2px solid orange; */

  font-size: 18px;
  /* padding: 40px 0px; */
padding: 0px 60px;
display: flex;
flex-direction: column;
gap:65px;

}
.about-description .sectionTitle{
background-color: inherit;
color:rgb(37, 34, 34);
padding: 40px 0px;
font-size: 54px;
display: flex;
justify-content: flex-start;
}
.about-description{
  font-weight: 400;
  line-height: 30px;
text-align:justify;
padding: 0px 40px;
height: max-content;
/* padding: 0px 60px 10px 0px; */
}

@media only screen and (max-width: 1190px) {
  .about-content {
 display: flex;
 flex-direction: column;
 
 

  }
  .about-description .sectionTitle{
display: flex;
justify-content: center;
  }

  .about-description{
font-size: 42px;
line-height: 64px;
  }
  .about-portrait{
height: 42vh;
  }
}